@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de fluxo de caixa</h1>
    <hr>

    <div>
        <div class="div-inline-block">
            <p>Valor Total</p>
            R$ 200,00    
        </div>
        <div class="div-inline-block">
            <p>Receitas</p>
            R$200,00
        </div>
        <div class="div-inline-block despesas">
            <p>Despesas</p>
            R$200,00    
        </div>
    </div>

    <div class="pesquisa">
        <div class="div-inline-block-pesquisa">
            <p>Valor Total</p>
        </div>
        <div class="div-inline-block-pesquisa">
            <p>Valor Total</p>
        </div>
    </div>

</div>
