.div-inline-block{
    display: inline-block;
    background-color: #e5e5e5;
    width: 30%;
    height: 70px;
    padding: 10px;
    align-items: center;
    justify-items: center;
}
.div-inline-block p{
    font-weight: bold;
}

.despesas{
    background-color: red;
}

.pesquisa{
    margin-top: 20px;
}

.div-inline-block-pesquisa{
    display: inline-block;
}