.div-inline-block{
    display: inline-block;
    background-color: #e5e5e5;
    width: 30%;
    height: 70px;
    padding: 10px;
}
.div-inline-block p{
    font-weight: bold;
}

.despesas{
    background-color: red;
}

.div-inline-block-pesquisa{
    display: inline-block;
}

.pesquisa{
    margin-top: 20px;
}

.btn-adicionar{
    text-align: right;
}

.input-pesquisa{
    width: 80%;
    text-align: left;
}

.input-pesquisa input{
    width: 80%;
    padding: 5px;
}